@model SuperVendas.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container p-4 viewIndex text-center">
    <h1>Detalhes do Produto</h1>

    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end col-6">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.ProductName)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">

                    @Html.DisplayNameFor(model => model.Category)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.ProductBrand)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.ProductBrand)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.ProductModel)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.ProductModel)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Price)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Stock)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Stock)
            </td>

        </tr>
    </table>

    <div class="row">
        <a asp-action="Edit" class="btn btn-edit mb-1 " asp-route-id="@Model?.ProductId">Editar</a>
        <a asp-action="Index" class="btn btn-back ">Voltar à Lista</a>
    </div>
</div>
