@model IEnumerable<SuperVendas.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="container  p-4 viewIndex">

    <h1>Controle de Produtos</h1>

    <table class="table table-hover customTable">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
                <th class="text-center"><a asp-action="Create" class="ms-4 px-5 btn btn-superVendas">Cadastrar</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
                    <td class="text-center">
                        <a asp-action="Edit" class="btn btn-edit" asp-route-id="@item.ProductId">Editar</a>
                        <a asp-action="Details" class="btn btn-details" asp-route-id="@item.ProductId">Info</a>
                        <a asp-action="Delete" class="btn btn-delete" asp-route-id="@item.ProductId">Deletar</a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>