@model SuperVendas.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div class="container p-4 viewIndex text-center">
    <h1>Detalhes do Pedido</h1>
    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end col-6">
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.EntryDate)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end col-6">
                @Html.DisplayNameFor(model => model.Client)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Client.ClientName)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Employee)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Employee.ClientName)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Product)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Product.ProductName)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Quantity)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Price)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.PaymentMethod)
            </td>

        </tr>

    </table>
    <div class="row">
        <a asp-action="Edit" class="btn btn-edit mb-1 " asp-route-id="@Model?.OrderId">Editar</a>
        <a asp-action="Index" class="btn btn-back ">Voltar</a>
    </div>
</div>
