@model IEnumerable<SuperVendas.Models.AccessLevel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-4 viewIndex">

    <h1>Controle de Níveis de Acesso</h1>

    <table class="table table-hover customTable">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.AccessLevelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessLevelType)
                </th>
                <th class="text-center"><a asp-action="Create" class="ms-4 px-5 btn btn-superVendas">Create New</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessLevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccessLevelType)
                    </td>
                    <td class="text-center">

                        <a asp-action="Edit" class="btn btn-edit" asp-route-id="@item.AccessLevelId">Editar</a>
                        <a asp-action="Details" class="btn btn-details" asp-route-id="@item.AccessLevelId">Info</a>
                        <a asp-action="Delete" class="btn btn-delete" asp-route-id="@item.AccessLevelId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>