@model SuperVendas.Models.SalesReport

@{
    ViewData["Title"] = "Delete";
}

<div class="container p-4 viewIndex text-center">
    <h1>Deletar Relatório</h1>
    <h3>Tem certeza que deseja deletar?</h3>

    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Product)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Product.ProductName)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end col-6">
                @Html.DisplayNameFor(model => model.InitialDate)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.InitialDate)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">

                @Html.DisplayNameFor(model => model.EndDate)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.EndDate)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.SalesTotal)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.SalesTotal)
            </td>

        </tr>
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.SalesRevenue)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.SalesRevenue)
            </td>

        </tr>
    </table>
    
    <form asp-action="Delete" class="row">
        <input type="hidden" asp-for="SalesReportId" />
        <input type="submit" value="Deletar" class="btn btn-danger mb-1" />
        <a asp-action="Index" class="btn btn-backDelete">Voltar</a>
    </form>
</div>
