@model SuperVendas.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container p-4 viewIndex text-center">
    <h1>Detalhes do Funcionário</h1>


    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.ClientName)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.ClientName)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Cpf)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.DateOfBirth)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Salary)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Salary)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.EmployeeRole)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.EmployeeRole)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Status)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.ContactNumber)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.AddressNumber)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.AddressNumber)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.AddressLine)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.AddressLine)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.City)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.State)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.State)
            </td>
        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>



    </table>


<div>
        <div class="row">
            <a asp-action="Edit" class="btn btn-edit mb-1 " asp-route-id="@Model?.EmployeeId">Editar</a>
            <a asp-action="Index" class="btn btn-back ">Voltar à Lista</a>
        </div>
</div>
