@model IEnumerable<SuperVendas.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container-flex p-4 viewIndex">

    <h1>Controle de Funcionários</h1>

    @using (Html.BeginForm("Search", "Employees", FormMethod.Get))
    {
        <div class="row">

            <div class="col-4">
                <div class="input-group">
                    <input class="form-control rounded" type="text" name="searchString" placeholder="Pesquisar" />
                </div>
            </div>

            <div class="col-4">
                <button type="submit" value="Pesquisar" class="btn btn-search">Pesquisar</button>
                <a href="@Url.Action("Index", "Employees")" class="btn btn-backDelete">Limpar Filtro</a>
            </div>
        </div>
    }

    <div class="row p-3">
        <div class="row border-bottom border-dark align-items-end" style="font-weight: bold; padding-bottom: 5px   ">

        <div class="col-md-1 ">
            <h6 style="font-weight: bold; text-align: bottom">
                @Html.DisplayNameFor(model => model.ClientName)
            </h6>
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Cpf)
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Salary)
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.AdmissionalDate)
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </div>

        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </div>

        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Email)
        </div>

        <div class="col-md-3 text-center">
            <a asp-action="Create" class="ms-4 px-5 btn btn-superVendas">Cadastrar</a>
        </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row border-bottom my-2 align-items-center">
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ClientName)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Cpf)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Salary)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.AdmissionalDate)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.EmployeeRole)
                </div>

                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </div>

                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Email)
                </div>
                <div class="col-md-3 text-center">
                    <a asp-action="Edit" class="btn btn-edit mb-sm-1" asp-route-id="@item.EmployeeId">Editar</a>
                    <a asp-action="Details" class="btn btn-details mb-sm-1" asp-route-id="@item.EmployeeId">Info</a>
                    <a asp-action="Delete" class="btn btn-delete mb-sm-1" asp-route-id="@item.EmployeeId">Deletar</a>
                </div>
            </div>

        }
    </div>
</div>