@model SuperVendas.Models.Login

@{
    ViewData["Title"] = "Delete";
}

<div class="container p-4 viewIndex text-center">
    <h1>Deletar Login</h1>
    <h3>Tem certeza que deseja deletar?</h3>
    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Username)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.Password)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.AccessLevel)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.AccessLevel.AccessLevelName)
            </td>

        </tr>
    </table>
    
    <form asp-action="Delete" class="row">
        <input type="hidden" asp-for="LoginId" />
        <input type="submit" value="Delete" class="btn btn-danger mb-1" />
        <a asp-action="Index" class="btn btn-backDelete">Voltar à Lista</a>
    </form>
</div>
